@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="dashboard" ng-controller="AuthenticationController">

    <div>
        <div class="col-sm-12">
            <div class="col-sm-6">List of lastest 10 request refreshed every 1 minutes</div>
            <div class="col-sm-6">List of lastest 10 request refreshed every 1 minutes</div>   
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6">List of lastest 10 request refreshed every 1 minutes</div>
            <div class="col-sm-6">List of lastest 10 request refreshed every 1 minutes</div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class=".form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-6"><input class="form-control" type="text" ng-model="UserName" placeholder="Enter username"/>
                        </div>
                        <div class="col-sm-6"><input class="form-control" type="text" ng-model="UserName" placeholder="Enter username" /></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">List of lastest 10 request refreshed every 1 minutes</div>
        </div>
    </div>   
</section>
